a {
    color: lightseagreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin: 0 100px;
}

.wrapper .nav-list {
    height: 12vh;
    margin-bottom: 100px;
}

.wrapper .nav-link {
    font-size: 3vh;
    color: lightseagreen;
}

.nav-list .nav-link.is-active {
    background-color: lightseagreen;
    color: #fff;
}

.nav-list:hover .nav-link {
    background-color: #fff;
    color: lightseagreen;
}

.nav-list .nav-link:hover {
    background-color: lightseagreen;
    color: #fff;
}

.lang-bar {
    display: flex;
    align-self: flex-end;
    width: 150px;
    justify-content: space-between;
    margin: 5px 300px 0;
}

.lang-btn {
    padding-top: 5px;
    padding-bottom: 5px;
}