
.discover {
    margin: 0 80px;
}

.search-bar {
    display: flex;
    margin: 50px 0;
    justify-content: center;
}

.search-field {
    margin-right: 100px;
}

.search-field-input {
    margin-right: 20px;
}

.search-filter {
    display: flex;
    width: 300px;
    justify-content: space-between;
}


.movie-item {
    margin: 10px;
    width: 190px;
}

.movie-poster {
    height: 274px;
}

.movie-title {
    text-align: center;
}
